name: Build and Push Frontend Coffeeder
run-name: Build and Release Frontend Coffeeder

on:
  push:
    tags:
      - "v*.*.*"  
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: BUILD

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          build-args: |
             VITE_BASE_URL=${{ vars.VITE_BASE_URL }}
          tags: |
            ghcr.io/mohamaddimasprayoga1010/coffeeder-frontend:latest
            ghcr.io/mohamaddimasprayoga1010/coffeeder-frontend:${{ github.ref_name }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3 
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.KEY }} 
          port: 9050
          script: |
            docker pull ghcr.io/mohamaddimasprayoga1010/coffeeder-frontend:latest 
